
__pycache__/*
checkpoints/*
datamanager/.*
datamanager/__pycache__/*
dataset/.*
dataset/__pycache__/*
models/.*
models/__pycache__/*
models/cyclegan/__pycache__/*
models/drn/__pycache__/*
options/.*
options/__pycache__/*
test/.*
test/__pycache__/*
tools/.*
tools/__pycache__/*
utils/.*
utils/__pycache__/*
